<div class="col-md-9">
    <div class="row">

        <h3>Descripción</h3>
        <p>Se quiere una aplicación que permita manejar la información de un empleado. El empleado tiene nombre,
            apellido,
            sexo, fecha de nacimiento y una imagen asociada. Además, como trabaja en una determinada compañía tiene una
            fecha de ingreso a la misma y un salario básico asignado.
        </p>
        <p>
            En la aplicación se puede (1) modificar el salario del empleado y (2) realizar algunos cálculos con la
            información disponible: (a) edad actual, (b) antigüedad en la empresa y (c) prestaciones a las que tiene
            derecho. Para el cálculo de las prestaciones se utiliza la fórmula p = (a * s)/12 (p: prestaciones, a:
            antigüedad, s: salario).
        </p>
    </div>
    <br>
    <br>
    <center>
        <img src="assets/images/interfazElEmpleado.jpg" class="img-responsive">
    </center>
</div>