<div>
    <h4>Consideraciones de Diseño</h4>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim tincidunt efficitur. In eu orci
        malesuada, bibendum justo eget, vehicula arcu. Vestibulum enim ipsum, bibendum sollicitudin nisl ac, venenatis
        lacinia ex. Donec rhoncus ligula eu blandit rhoncus. Donec tortor nibh, vulputate at ex in, rutrum cursus elit.
        Curabitur ultricies mauris vel mauris molestie viverra. Fusce sagittis aliquam libero id consectetur. Curabitur
        porttitor elit mi, id blandit sem cursus nec. Duis posuere viverra ante, vitae ultrices ante. Quisque quis
        turpis ligula. Morbi vitae gravida ex.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dignissim tincidunt efficitur. In eu orci
        malesuada, bibendum justo eget, vehicula arcu. Vestibulum enim ipsum, bibendum sollicitudin nisl ac, venenatis
        lacinia ex. Donec rhoncus ligula eu blandit rhoncus. Donec tortor nibh, vulputate at ex in, rutrum cursus elit.
        Curabitur ultricies mauris vel mauris molestie viverra. Fusce sagittis aliquam libero id consectetur. Curabitur
        porttitor elit mi, id blandit sem cursus nec. Duis posuere viverra ante, vitae ultrices ante. Quisque quis
        turpis ligula. Morbi vitae gravida ex.
    </p>
</div>