<div class="row">
    <div class="col-md-9">
        <h3>Documentos</h3>
        <nav>
            <ul class="nav nav-pills pull-left">
                <li ui-sref-active="active">
                    <a ui-sref=".modelos">Modelos</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".requerimientos-funcionales">Requerimientos Funcionales</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".requerimientos-no-funcionales">Requerimientos no Funcionales</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref=".consideraciones">Consideraciones de Diseño</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<hr class="divider">
<div class="row">
    <div ui-view="detail"></div>
</div>