 <div class="col-md-9">
        <h3>Guía de Trabajo</h3>
        <hr>
        <div>
            <h4 id="descripción">Descripción</h4>
            <p>
                Se quiere una aplicación que permita manejar la información de un empleado. El empleado tiene nombre,
                apellido, sexo, fecha de nacimiento y
                una imagen asociada. Además, como trabaja en una determinada compañía tiene una fecha de ingreso a la
                misma
                y un salario básico asignado.
            </p>
            <h4 id="objetivos">Objetivos</h4>
            <p>El objetivo de este ejercicio es que el estudiante comprenda y adquiera práctica en:</p>
            <ul>
                <li>Construir expresiones aritméticas.</li>
                <li>Creación y manejo de atributos.</li>
                <li>Construcción de métodos.</li>
            </ul>
            <p>Los siguientes pasos conforman el plan sugerido para desarrollar el ejercicio. La idea es ir
                desarrollando y
                probando incrementalmente los métodos de las clases. <strong>No se preocupe si las clases de la interfaz
                    o
                    de las pruebas (test) tienen errores. Estos desaparecerán cuando termine (correctamente) los cambios
                    en
                    el modelo del mundo</strong>.</p>
            <p>Este ejercicio debe ser realizado de manera <strong>INDIVIDUAL</strong>.</p>
            <h4 id="preparación">Preparación</h4>
            <ol style="list-style-type: decimal">
                <li>Descargue del sitio web del curso el archivo demo de la aplicación (del enlace llamado <strong>n1_empleado_Demo</strong>)
                    y ejecútelo para conocer el funcionamiento esperado del programa.
                </li>
                <li>Descargue del sitio web del curso el esqueleto del ejercicio (del enlace llamado <strong>n1_empleado_Esqueleto</strong>).
                    Descomprima este archivo e importe el proyecto llamado <strong>n1_empleado</strong> en Eclipse.
                </li>
                <li>Lea el enunciado del problema disponible en: <strong>n1_empleado/docs/specs/Descripcion.pdf</strong>.
                </li>
                <li>Estudie el documento de requerimientos funcionales disponible en: <strong>n1_empleado/docs/specs/RequerimientosFuncionales.pdf</strong>.
                </li>
                <li>Estudie el modelo del mundo diseñado para este ejercicio. Este modelo se encuentra en: <strong>n1_empleado/docs/specs/ModeloConceptual.jpg</strong>.
                    Identifique las clases, relaciones entre clases, constantes, atributos y métodos.
                </li>
                <li>Desde Eclipse revise la documentación de las clases del mundo. Esto le permitirá entender para qué
                    sirve
                    cada método y cada uno de los atributos. También puede generar la documentación del proyecto
                    (archivos
                    .html) ejecutando el programa doc que se encuentra en <strong>n1_empleado/bin/win</strong> (para
                    Windows) y en <strong>n1_empleado/bin/mac</strong> (para Mac).
                </li>
            </ol>
            <h5 id="parte-a-completar-la-clase-empleado">Parte A: Completar la clase Empleado</h5>
<pre><code>            1. Crear Atributo Empleado_nombre: Crear el atributo nombre dentro de la Clase Empleado de acuerdo a la documentación.


            2. Implementar Metodo Empleado_darApellido: Completar método dar apellido dentro de la clase Empleado.


            3. Documentar Metodo Empleado_darSexo: Completar la documentación del método dar sexo dentro de la clase Empleado.
    </code></pre>
            <h4 id="validación">Validación</h4>
            <p>Para comprobar el funcionamiento de su ejercicio usted puede:</p>
            <ol style="list-style-type: decimal">
                <li>Ejecutar las pruebas automáticas disponibles en el ejercicio (validación funcional del mundo) que le
                    permitirán verificar la correcta implementación de sus métodos. Para ejecutar las pruebas en el
                    entorno
                    de Eclipse presione click derecho sobre el paquete que termina en test (o alguna de sus clases
                    internas), seleccione la opción Run as y posteriormente la opción JUnitTest.
                </li>
                <li>Ejecutar el programa e interactuar con todas las opciones disponibles en la interfaz.</li>
            </ol>
            <h4 id="entrega">Entrega</h4>
            <p>Este ejercicio debe ser realizado de manera <strong>INDIVIDUAL</strong>.</p>
            <ol style="list-style-type: decimal">
                <li>Construya el archivo entregable con el ejercicio completo. No olvide revisar que su entrega cumple
                    con
                    lo especificado en las normas del curso referentes a entregas de ejercicios. Consultar: <a
                            href="http://cupi2.uniandes.edu.co/sitio/index.php/cursos/apo1/normas-administrativas"
                            class="uri">http://cupi2.uniandes.edu.co/sitio/index.php/cursos/apo1/normas-administrativas</a>
                </li>
                <li>Entregue el archivo del ejercicio vía SicuaPlus, de acuerdo con las normas, fecha y hora de entrega.
                </li>
            </ol>
            <br>

        <h3>Demo</h3>

        <iframe width="420" height="315"
                src="http://www.youtube.com/embed/At9l-VwP-wc">
        </iframe>
    </div>
</div>